In [2]:
import csv
import pandas as pd
import numpy as np
import os
import random as rd

In [3]:
file = os.path.join('Resources','worldcities.csv')
data = pd.read_csv(file)

In [5]:
file = os.path.join('Resources','owm_citylist.txt')
owm_df = pd.read_csv(file, delimiter='\t')
owm_df.head()

        id               nm        lat        lon countryCode
0   819827         Razvilka  55.591667  37.740833          RU
1   524901           Moscow  55.752220  37.615555          RU
2  1271881  Firozpur Jhirka  27.799999  76.949997          IN
3  1283240        Kathmandu  27.716667  85.316666          NP
4   703448             Kiev  50.433334  30.516666          UA

In [52]:
# >>> df = pd.DataFrame(columns=['A'])
# >>> for i in range(5):
# ...     df = df.append({'A': i}, ignore_index=True)
# >>> df

def lat_random_select(number):
    range_num = int(number/7)
    id_list = []
    column_names = list(owm_df.columns)
    id_df = pd.DataFrame(columns=column_names)
    lat = np.arange(-60,100,20)
    for deg in range(1,len(lat)):
        range_ls = list(owm_df.loc[(owm_df['lat'] > lat[deg-1]) & (owm_df['lat'] <= lat[deg]),:]['id'])
        selections = rd.sample(range_ls, range_num)
        id_list = id_list + selections
#         for i in id_list:
#             i_owm = owm_df.loc[owm_df['id'] == i]
#             id_df.append(i_owm, ignore_index=True)
#         return id_df
    return id_list

         id    nm        lat        lon countryCode
0  703448.0  Kiev  50.433334  30.516666          UA

In [70]:
ls = lat_random_select(10)
ls

[3883629, 3865742, 3930871, 1337610, 4733313, 2737914, 3146470]

In [73]:
column_list = list(owm_df.columns)
i_df = pd.DataFrame(columns=column_list)

for city_id in ls:
    tester = owm_df.loc[owm_df['id'] == city_id]
    i_df.append(tester, ignore_index=True)

In [74]:
i_df

Empty DataFrame
Columns: [id, nm, lat, lon, countryCode]
Index: []

In [115]:
data.head()

  Country              City   Latitude  Longitude
0      ad  andorra la vella  42.500000   1.516667
1      ad           canillo  42.566667   1.600000
2      ad            encamp  42.533333   1.583333
3      ad        la massana  42.550000   1.516667
4      ad      les escaldes  42.500000   1.533333

In [116]:
data['Latitude'].max()

78.216666700000005

In [117]:
data['Latitude'].min()

-54.799999999999997

In [118]:
data['Longitude'].max()

179.316667

In [119]:
data['Longitude'].min()

-179.5

In [161]:
data.head()

  Country              City   Latitude  Longitude
0      ad  andorra la vella  42.500000   1.516667
1      ad           canillo  42.566667   1.600000
2      ad            encamp  42.533333   1.583333
3      ad        la massana  42.550000   1.516667
4      ad      les escaldes  42.500000   1.533333

In [159]:
df = pd.DataFrame(data)
df.head()

  Country              City   Latitude  Longitude
0      ad  andorra la vella  42.500000   1.516667
1      ad           canillo  42.566667   1.600000
2      ad            encamp  42.533333   1.583333
3      ad        la massana  42.550000   1.516667
4      ad      les escaldes  42.500000   1.533333

In [122]:
df.loc[df['Latitude'] < -70,:]

Empty DataFrame
Columns: [Country, City, Latitude, Longitude]
Index: []

In [123]:
df.loc[(df['Latitude'] > -60) & (df['Latitude'] < -40),:]['City'].head()

479         comodoro rivadavia
514              puerto madryn
517                     rawson
521               rio gallegos
526    san carlos de bariloche
Name: City, dtype: object

In [124]:
lat = np.arange(-60,100,20)
lat

array([-60, -40, -20,   0,  20,  40,  60,  80])

In [125]:
for deg in range(1,len(lat)):
    print('{} to {}'.format(lat[deg-1],lat[deg]))

-60 to -40
-40 to -20
-20 to 0
0 to 20
20 to 40
40 to 60
60 to 80

In [126]:
low = list(df.loc[(df['Latitude'] > -60) & (df['Latitude'] <= -40),:]['City'])
low_random = rd.sample(low, 20)
low_random

['purranque',
 'hokitika',
 'darfield',
 'milton',
 'bulls',
 'rakaia',
 'dunedin',
 'puerto varas',
 'castro',
 'hobart',
 'burnie',
 'pleasant point',
 'himatangi',
 'hanmer springs',
 'havelock',
 'waipawa',
 'porirua',
 'kaitangata',
 'te horo',
 'launceston']

In [127]:
num = 80
city_ls = []
lat = np.arange(-60,100,20)
for deg in range(1,len(lat)):
    range_ls = list(df.loc[(df['Latitude'] > lat[deg-1]) & (df['Latitude'] <= lat[deg]),:]['City'])
    selections = rd.sample(range_ls, num)
    city_ls = city_ls + selections

len(city_ls)

560

In [128]:
def ran_select(number):
    range_num = int(number/7)
    city_list = []
    lat = np.arange(-60,100,20)
    for deg in range(1,len(lat)):
        range_ls = list(df.loc[(df['Latitude'] > lat[deg-1]) & (df['Latitude'] <= lat[deg]),:]['City'])
        selections = rd.sample(range_ls, range_num)
        city_list = city_list + selections
    return city_list

In [142]:
ls = ran_select(50)

In [157]:
city_selection = []

for city in ls:
    df2 = data.set_index('City')
    latitude = df2.loc[city,'Latitude']
#     city_data = {
#         'City': city,
#         'Latitude': latitude
#     }
#     city_selection.append(city_data)
    print(latitude)

-42.769201
-41.383333
-40.916667
-43.483333
City
southbridge   -43.816667
southbridge    42.075000
Name: Latitude, dtype: float64
-40.3
-41.768011
-34.7
-22.627778
-33.666667
-20.1030556
City
nata   -20.216667
nata     8.333333
Name: Latitude, dtype: float64
-24.45
-21.366667
-18.533333
-7.95
-5.116667
-8.083333
-6.178056
-0.6155556
-0.9333333
City
santo tomas    10.757730
santo tomas    12.066667
santo tomas   -14.445556
santo tomas     8.185833
santo tomas    17.399724
santo tomas    14.183333
santo tomas    14.992300
santo tomas    16.082600
santo tomas    15.754000
santo tomas    13.640833
Name: Latitude, dtype: float64
14.096667
City
ipil    13.513200
ipil    10.975800
ipil     9.790700
ipil     7.784444
Name: Latitude, dtype: float64
City
boston    52.983333
boston     7.871111
boston    42.358333
Name: Latitude, dtype: float64
7.205676
City
san andres     6.903333
san andres    12.584722
san andres     6.811478
san andres    16.966667
san andres     8.600000
san andres    13.261400
san andres    14.050000
san andres    15.722200
san andres    14.003527
san andres    13.322700
Name: Latitude, dtype: float64
4.8151
37.8333333
39.32
28.686768
38.7327778
32.266043
30.7541667
City
saginaw    43.419444
saginaw    32.860000
Name: Latitude, dtype: float64
47.420159
City
krasnoarmeysk    53.847778
krasnoarmeysk    56.100000
krasnoarmeysk    51.023889
krasnoarmeysk    48.281976
Name: Latitude, dtype: float64
44.55
42.9405556
City
fundeni    45.533333
fundeni    44.383333
Name: Latitude, dtype: float64
51.819079
52.35236
69.966667
City
ilinskiy    61.013459
ilinskiy    47.997778
ilinskiy    58.572170
Name: Latitude, dtype: float64
61.078451
60.964444
60.05
63.416667
65.7

In [141]:
pd.DataFrame(city_selection)

                     City                                           Latitude
0             new norfolk                                           -42.7807
1                havelock  City
havelock    44.433333
havelock   -41.2833...
2                  sanson                                           -40.2167
3                 fairlie  City
fairlie    55.75
fairlie   -44.10
Name: L...
4              ulverstone                                           -41.1603
5                 takapau                                           -40.0333
6                la union  City
la union   -40.283333
la union     5.9743...
7   sao jose do rio preto                                              -20.8
8                   alice  City
alice    27.751944
alice   -32.787493
Nam...
9            muniz freire                                           -20.4667
10                  patea                                           -39.7583
11    sao jose do calcado                                           -21.0333
12            clevelandia                                              -26.4
13               ruatoria                                           -37.8833
14                pacanga                                           -7.16667
15             pentecoste                                               -3.8
16                 camamu                                             -13.95
17                manaira                                               -7.7
18                 halalo                                             -13.35
19     axixa do tocantins                                           -5.55111
20          santo estevao                                           -12.4333
21             manjeshwar                                               12.7
22               san jose  City
san jose   -17.850000
san jose     5.0016...
23               la guama                                            14.8833
24              thanh hoa                                               19.8
25            san agustin  City
san agustin     1.878629
san agustin    1...
26               hacienda                                             15.936
27                 bongor                                            10.2806
28                 sangod                                            24.9167
29       saint pete beach                                             27.725
30             ocean city                                            39.2775
31          winter garden                                             28.565
32                 pundri                                              29.75
33              lancaster  City
lancaster    54.066667
lancaster    34.69...
34                waianae                                            21.4447
35                   mako                                            46.2167
36                 dobrin                                            47.2833
37             brook park                                            41.3983
38             baiculesti                                            45.0667
39    murovani kurylivtsi                                            48.7235
40      horka nad moravou                                            49.6389
41                 veroli                                            41.6833
42              skalistyy                                            69.2551
43           snezhnogorsk  City
snezhnogorsk    68.093056
snezhnogorsk   ...
44             ust-tsilma                                             65.441
45              cheuskiny                                            61.1167
46           kuzmolovskiy                                            60.1092
47                 nyurba                                            63.2842
48                 oppdal                                               62.6

In [144]:
print(df.loc[df['City'] == 'bulls']['Latitude'])

26194   -40.166667
Name: Latitude, dtype: float64

In [132]:
list(df.loc[(df['Latitude'] > -60) & (df['Latitude'] <= -40),:]['City'])

['comodoro rivadavia',
 'puerto madryn',
 'rawson',
 'rio gallegos',
 'san carlos de bariloche',
 'trelew',
 'ushuaia',
 'viedma',
 'burnie',
 'devonport',
 'hobart',
 'launceston',
 'new norfolk',
 'ulverstone',
 'ancud',
 'calbuco',
 'castro',
 'coihaique',
 'la union',
 'osorno',
 'puerto montt',
 'puerto varas',
 'punta arenas',
 'purranque',
 'rio bueno',
 'amberley',
 'balclutha',
 'bluff',
 'brightwater',
 'bulls',
 'burnham',
 'christchurch',
 'clyde',
 'darfield',
 'dobson',
 'dunedin',
 'edendale',
 'fairlie',
 'foxton',
 'greymouth',
 'hanmer springs',
 'havelock',
 'himatangi',
 'hokitika',
 'invercargill',
 'kaitangata',
 'karamea',
 'leeston',
 'levin',
 'lincoln',
 'lower hutt',
 'mapua',
 'masterton',
 'methven',
 'milton',
 'murchison',
 'nelson',
 'otaki',
 'otautau',
 'outram',
 'oxford',
 'palmerston north',
 'pareora',
 'pleasant point',
 'porirua',
 'rakaia',
 'ranfurly',
 'reefton',
 'riverton',
 'riwaka',
 'rolleston',
 'rongotea',
 'sanson',
 'seddon',
 'sefton',
 'southbridge',
 'takaka',
 'takapau',
 'te anau',
 'te horo',
 'timaru',
 'tokomaru',
 'tuatapere',
 'waikuku',
 'waipawa',
 'waitati',
 'wakefield',
 'wallacetown',
 'wanaka',
 'wellington',
 'westport',
 'winton',
 'woodend',
 'wyndham']

In [179]:
pd.DataFrame(df['Latitude'].groupby(df['City']).unique()).head()

                   Latitude
City
a               [63.966667]
a coruna        [43.366609]
a dos cunhados   [39.15237]
aabenraa        [55.036217]
aabybro             [57.15]

In [176]:
data.count()

Country      46832
City         46831
Latitude     46832
Longitude    46832
dtype: int64